body {
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  padding: 1px 10px;
  display: flex;
  justify-content: flex-end;
}

.navbar {
  padding: px;
  background: #f5f5f5;
  height: 50px;
}

.navigation-link {
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.background {
  background: url(images/backgrounds/background-home.jpg);
  min-height: 741px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-top: 0px;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.avatar img {
  margin-top: 300px;
  margin-bottom: 0px;
  margin: center;
  height: 150px;
}

.header-name {
  display: block;
  margin-block-start: 0px;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: white;
}

span.name {
  padding: 2px;
  color: #0683aa;
}

.header-title {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 10px;
  color: #ff7e47;
}

span.country {
  color: white;
}

.header-tools {
  margin-top: 10px;
  font-size: 20px;
  color: #ff7e47;
  font-weight: lighter;
}

.background-project {
  background-color: #c4c4c4;
}

.header-project {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project {
  display: block;
  margin-top: 80px;
  margin-left: 80px;
  font-size: 40px;
}

.landing-page {
  display: flex;
  justify-content: left;
  margin-left: 80px;
  margin-bottom: 50px;
}

.landing-page img {
  height: 200px;
}

.project-1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 15px;
}

.project-1-desc {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 13px;
}

.plan-website {
  display: flex;
  justify-content: right;
  margin-left: 100px;
  margin-top: 0px;
}

.plan-website img {
  height: 150px;
}

.project-2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 15px;
}

.project-2-desc {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 13px;
}

.audio-book {
  display: flex;
  justify-content: left;
  margin-left: 80px;
  margin-bottom: 50px;
}

.audio-book img {
  height: 250px;
}

.project-3 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 15px;
}

.project-3-desc {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 13px;
}

.builder {
  display: flex;
  justify-content: right;
  margin-left: 200px;
  margin-top: 0px;
}

.builder img {
  height: 200px;
}

.project-4 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 15px;
}

.project-4-desc {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 13px;
}

.fullstack {
  display: block;
  margin-left: 0px;
  padding-top: 50px;
  padding-left: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #ff7e47;
  height: 200px;
  font-size: 30px;
  color: white;
}

.fullstack-content {
  font-size: 15px;
  color: black;
  font-weight: lighter;
}

.marketing {
  display: block;
  margin-left: 0px;
  padding-top: 50px;
  padding-left: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #38aab4;
  height: 200px;
  font-size: 30px;
  color: white;
}

.marketing-content {
  font-size: 15px;
  color: black;
  font-weight: lighter;
}

.graphology {
  display: block;
  margin-left: 0px;
  padding-top: 50px;
  padding-left: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #009d66;
  height: 191px;
  font-size: 30px;
  color: white;
}

.graphology-content {
  font-size: 15px;
  color: black;
  font-weight: lighter;
}

.title-arts {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 20px;
}

.arts-content {
  font-weight: lighter;
}

.arts-photo {
  align-items: flex-start;
  justify-content: center;
  margin-left: 5px;
}

.foto8 {
  height: 200px;
}

.foto9 {
  height: 200px;
}

.foto11 {
  height: 200px;
}

.foto19 {
  height: 200px;
}

.foto16 {
  height: 200px;
  width: 310px;
}

.contactme {
  display: block;
  justify-content: left;
}

.invitation {
  margin-top: 100px;
  margin-left: 400px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
}

.please {
  margin-top: 0px;
  margin-left: 400px;
  font-weight: lighter;
  font-size: 15px;
}

.available {
  margin-top: 40px;
  margin-left: 400px;
  font-weight: lighter;
  font-size: 15px;
}

.fullname {
  margin-top: 50px;
  margin-left: 400px;
  font-size: 15px;
}

.email-address {
  margin-top: 20px;
  margin-left: 400px;
  font-weight: lighter;
  font-size: 15px;
}

.phone {
  margin-top: 40px;
  margin-left: 400px;
  font-weight: lighter;
  font-size: 15px;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 70px;
  margin-bottom: 122px;
}

.linkedin {
  height: 80px;
}

.github {
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}

.behance {
  height: 80px;
}

.footer {
  display: block;
  flex-direction: column;
  align-items: center;
  background-color: #0683aa;
  height: 50px;
  text-align: center;
  padding-top: 5px;
  font-size: 10px;
  color: white;
}

.source {
  align-items: center;
  margin-bottom: 0px;
}

.copyright {
  margin-bottom: 0px;
  margin-top: 5px;
}
